
body {
    margin: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.footer,
.hero-container {
   background-color: #1F2937; 
    color: white;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

h3,
a {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 200;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 550px;
    padding: 20px;
}

.header-left {
    font-size: 20px;
    color: #F9FAF8;
}
.header-right {
    display: flex;
    gap: 36px;
}

.hero-container {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    padding-top: 55px;
}

.hero-block {
    display: flex;
    gap: 75px;
    align-items: center;
}

.hero-message {
    text-align: left;
    padding: 16px;
    display: flex;
    flex-direction: column;
    
}

.hero-image {
    padding: 16px;
    display: flex;
    justify-content: center;

}

button {
 
   font-size: 16px;
   font-weight: 700;
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    width: 100px;
    padding: 8px;
    border-radius: 6px;
}

.info-container {
    padding-top: 20px;
    padding-bottom: 60px;
}
.info-header {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 30px;
}

.info-panels {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info-words {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: black;
    font-weight: 100;
}

.quote-container {
    margin-top: 50px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {   
    width: 1200px;
}

.quote-words {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-name {
    font-size: 25px;
    font-weight: 700;
    text-align: right;
}

.cta-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px
    
}

.cta-box {
    width: 1200px;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    gap: 600px;
    border-radius: 15px;
}

.cta-box {
    font-size: 25px;
}

.cta-button {
    font-size: 16px;
   font-weight: 700;
    background-color: #3882F6;
    border-color: white;
    color: white;
    width: 100px;
    height: 50px;
    padding: 8px;
    border-radius: 6px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.hero-image {
   height: 300px;
    width: 500px;
border-radius: 25px;
}

.panel-img {
    height: 225px;
    width: 225px;
border-radius: 25px;
}

button:hover {
    transform: scale(1.05);
  }